# ==============================================================================
# EASY-PAY: ENTORNO GLOBAL (TEMPLATE)
# ==============================================================================

# --- CONEXIÓN DE BASE DE DATOS ---
MONGO_URL=mongodb://mongodb:27017/easypay
MONGO_URI=mongodb://mongodb:27017/easypay

# --- BACKEND (FastAPI) ---
API_HOST=0.0.0.0
API_PORT=8000
JWT_SECRET=secreto_desarrollo_easypay
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# --- FRONTEND (Vite / React Native) ---
VITE_API_BASE_URL=http://{{LOCAL_IP}}:8000
VITE_USER_SERVICE_URL=http://{{LOCAL_IP}}:8000
VITE_GROUP_SERVICE_URL=http://{{LOCAL_IP}}:8000
VITE_STATS_SERVICE_URL=http://{{LOCAL_IP}}:8000
VITE_OCR_SERVICE_URL=http://{{LOCAL_IP}}:8000

# IP local para Mobile Expo (Cambiar si pruebas en físico)
EXPO_PUBLIC_API_URL=http://{{LOCAL_IP}}:8000
