# ==============================================================================
# EASY-PAY: ENTORNO GLOBAL (TEMPLATE)
# ==============================================================================

# --- CONEXIÓN DE BASE DE DATOS ---
# --- CONFIGURACIÓN DE ATLAS (Nube) ---
MONGO_USER=Gafero_db_user
MONGO_PASS=Hongodb2026
MONGO_CLUSTER=easy-pay.on6eyit.mongodb.net
MONGO_URL=mongodb+srv://Gafero_db_user:Hongodb2026@easy-pay.on6eyit.mongodb.net/?retryWrites=true&w=majority&appName=easy-pay

# OPCIÓN B: Docker Local
# MONGO_URL=mongodb://mongodb:27017/easypay
# MONGO_URI=mongodb://mongodb:27017/easypay

# Configuración de Correo para Easy-Pay
MAIL_USERNAME=easypaygp@gmail.com
MAIL_PASSWORD=kllc pbmt iamd uypi  # La clave de 16 letras que te da Google
MAIL_FROM=easypaygp@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

# --- SEGURIDAD ---
API_HOST=0.0.0.0
API_PORT=8000
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
JWT_SECRET=Tequieroparavolvernoslocosderisaebriosdenadaypasearsinprisaporlascallesesositomadosdelamanomejordichodelcorazon

# --- URI LOCALES --- 
VITE_API_BASE_URL=http://localhost:8000
VITE_USER_SERVICE_URL=http://localhost:8000
VITE_GROUP_SERVICE_URL=http://localhost:8000
VITE_STATS_SERVICE_URL=http://localhost:8000
VITE_OCR_SERVICE_URL=http://localhost:8000

VITE_API_URL=http://localhost:8001
VITE_USER_API=http://localhost:8001
VITE_GROUP_API=http://localhost:8002
VITE_STAST_API=http://localhost:8003
VITE_OCR_API=http://localhost:8004
VITE_NOTIFICATION_API=http://localhost:8005

# --- URI PRODUCCION --- 
#VITE_USER_API=http://localhost:8001
#VITE_GROUP_API=http://localhost:8002
#VITE_STAST_API=http://localhost:8003
#VITE_OCR_API=http://localhost:8004
#VITE_NOTIFICATION_API=http://localhost:8005

# IP local para Mobile Expo (Cambiar si pruebas en físico)
EXPO_PUBLIC_API_URL=http://192.168.1.11:8000

IS_DOCKER=true
